* {
  margin: 0;
}

body {
  background-color: #f6f5fa;
}

.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.app__left {
  flex: 0.7;
}
.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.app__heading {
  display: flex;
  line-height: 1.2;
}

.app__headingimg {
  margin-right: 0.2em;
}

.app__heading h1 {
  font-size: 2rem;
}

.app__dropdown {
  background: white;
}
.app__stats {
  display: flex;
  justify-content: space-between;
}

.red_class {
  color: red !important;
}

.app__graphbox {
  margin-top: 2.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1em;
  border-radius: 5px;
}

@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }

  .app__right {
    margin-top: 1em;
  }
}

@media (max-width: 740px) {
  .app {
    flex-direction: column;
  }
  .app__heading h1 {
    font-size: 1.3rem;
    line-height: 1.8em;
  }
}

@media (max-width: 365px) {
  .app__heading h1 {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }
}
